.HeaderContainer {
  display: flex;
  justify-content: space-around;
  background-color: #272727;
  align-items: center;
  padding: 20px;
  list-style-type: none;
}
.card {
  display: flex;
}
.Home {
  color: #ffffff;
  font-weight: bold;
  margin-left: 10px;
}
.button {
  background-color: #4f46e5;
  color: #ffffff;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .logo {
    height: 40px;
  }
}
